:root {
  --primary-color-text: #000000;
  --secondary-color-text: #ffffff;
  --accent-color-text: #b92669;

  --accent-color: #b92669;
  /* --secondary-accent-color: #b92669; */

  --primary-background-color: #ffffff;
  --secondary-background-color: #b92669;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-color-text);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.advert {
  padding: 10px 0;
  text-align: center;
  background-color: #e3e1e1;
}

.advert__text {
  font-size: 16px;
  font-weight: 500;
}

.advert__text-accent {
  color: var(--accent-color);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  border: 2px solid var(--accent-color);

  color: var(--accent-color-text);
  background-color: rgba(0, 0, 0, 0);

  font-size: 18px;
  font-weight: 700;

  cursor: pointer;
}

/* --------------- HERO --------------- */

.hero {
  background-color: var(--secondary-background-color);

  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__container-text {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 580px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--secondary-color-text);
  margin-bottom: 80px;
}

.hero__container-btn {
  padding: 20px 40px;

  border: 1px solid var(--secondary-color-text);

  color: var(--secondary-color-text);
  background-color: rgba(0, 0, 0, 0);

  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.04em;

  cursor: pointer;
}

/* --------------- BESTSELLER --------------- */

.bestseller__title {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 800;

  /* text-align: center; */
  text-transform: uppercase;

  margin-bottom: 60px;
}

.bestseller__list {
  display: flex;

  margin-bottom: 80px;
}
/* 
.bestseller__card {
  margin-right: 30px;
  width: calc((1200 - 100px) / 4);
} */

.bestseller__item {
  margin-right: 30px;
  width: calc((1200 - 100px) / 4);
}

.bestseller__item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.bestseller__btn {
  padding: 20px 40px;

  /* border: 1px solid var(--secondary-color-text); */

  color: var(--secondary-color-text);
  background-color: var(--secondary-background-color);

  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.04em;

  cursor: pointer;
}

/* --------------- CARD --------------- */

.card {
  text-align: center;
}

.card__img {
  width: 100%;
  margin-bottom: 15px;
}

.card__title {
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.card__description {
  text-align: start;

  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.01em;

  color: #8e8e8e;

  margin-bottom: 15px;
}

.card__title-accent {
  color: var(--accent-color-text);
}

.card__price {
  /* font-family: Montserrat, sans-serif; */

  margin-bottom: 15px;

  font-size: 26px;
  font-weight: 500;
  color: var(--accent-color-text);
}

.card__price-old {
  /* font-family: Montserrat, sans-serif; */
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  color: #8e8e8e;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
}

.btn-more {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: calc(100% / 2 - 3px);
}

.btn-order {
  padding: 10px;
  font-size: 16px;

  background-color: var(--secondary-background-color);
  color: var(--secondary-color-text);

  font-weight: 500;
  width: calc(100% / 2 - 3px);
}
