:root {
  --primary-color-text: #000000;
  --secondary-color-text: #ffffff;
  --accent-color-text: #b92669;

  --accent-color: #b92669;
  /* --secondary-accent-color: #b92669; */

  --primary-background-color: #ffffff;
  --secondary-background-color: #b92669;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-color-text);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--accent-color-text);

  /* text-align: center; */
  /* text-transform: uppercase; */

  margin-bottom: 40px;
}

.advert {
  padding: 10px 0;
  text-align: center;
  background-color: #e3e1e1;
}

.advert__text {
  font-size: 16px;
  font-weight: 500;
}

.advert__text-accent {
  color: var(--accent-color);
}

.btn {
  padding: 10px 20px;
  border: 2px solid var(--accent-color);
  border-radius: 4px;

  color: var(--accent-color-text);
  background-color: rgba(0, 0, 0, 0);

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
}

/* --------------- HEADER --------------- */

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-item {
  padding: auto 0;
}

.header__navigation-item:not(:last-child) {
  margin-right: 40px;
}

.header__navigation-link {
  display: block;

  font-size: 18px;
  color: #606060;

  padding-top: 15px;
  padding-bottom: 15px;

  transition-property: color;
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  color: var(--accent-color-text);
}

.selected {
  /* position: relative; */
  font-weight: 400;
  color: var(--accent-color-text);
}

/* --------------- HERO --------------- */

.hero {
  background-color: var(--secondary-background-color);

  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */

  /* margin: auto; */
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__container-text {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 580px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--secondary-color-text);
  margin-bottom: 80px;
}

.hero__container-btn {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: var(--secondary-color-text);

  padding: 20px 40px;
  border: 1px solid var(--secondary-color-text);
  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0);

  cursor: pointer;
}

/* --------------- BESTSELLER --------------- */

.bestseller {
  padding-bottom: 0;
}

.bestseller__title {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--accent-color);
}

.bestseller__list {
  display: flex;

  margin-bottom: 80px;
}
/* 
.bestseller__card {
  width: calc((1200px - 60px) / 4);
  padding: 5px;
}

.bestseller__card:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
} */

.bestseller__item {
  margin-right: 30px;
  width: calc((1200px - 100px) / 4);
}

.bestseller__item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.bestseller__btn-flexcontainer {
  display: flex;
  justify-content: flex-end;
}

.bestseller__btn {
  padding: 20px 40px;
  margin-left: auto;

  border: 1px solid var(--accent-color);

  color: var(--accent-color-text);
  background-color: rgba(0, 0, 0, 0);

  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.bestseller__link {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: var(--accent-color-text);
}

/* --------------- CARD --------------- */

.card {
  position: relative;
  /* text-align: center; */
}

.card__discount {
  position: absolute;
  display: inline-block;

  top: 10px;
  right: 10px;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  color: var(--secondary-color-text);

  border-radius: 50px;
  background-color: #e04141;

  padding: 3px 8px;
}

.card__img {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.card__description {
  padding: 0 7px;
}

.card__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 4px;
}

.card__aftertitle {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;

  color: #909090;

  margin-bottom: 15px;
}

.card__title-accent {
  color: var(--accent-color-text);
}

.card__status-instock {
  color: #1ec900;

  margin-bottom: 15px;
}

.card__status-expectation {
  color: #ff9100;

  margin-bottom: 15px;
}

.card__status-notinstock {
  color: #ff0000;

  margin-bottom: 15px;
}

.card__price {
  text-align: center;

  margin-bottom: 15px;

  font-size: 26px;
  font-weight: 500;
  color: var(--accent-color-text);
}

.card__price-old {
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  color: #8e8e8e;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
}

.btn-more {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: calc(100% / 2 - 3px);
}

.btn-order {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color-text);

  background-color: var(--secondary-background-color);

  /* width: calc(100% / 2 - 3px); */
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

/* --------------- instruction --------------- */

.instruction__title {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--accent-color);
}

/* .instruction {
  background-color: #b1b1b1;
} */

.instruction__video {
  display: flex;

  justify-content: center;
}

/* --------------- FOOTER --------------- */

.footer {
  padding-top: 40px;
  padding-bottom: 0;
  color: var(--accent-color-text);

  background-color: var(--secondary-background-color);
}

.footer__social {
  margin-top: 40px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-icon {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.copyright {
  padding: 5px 0;
  margin-top: 40px;

  font-size: 15px;
  font-weight: 300;
  color: #606060;

  text-align: center;
  background-color: var(--primary-background-color);
}

.policy {
  font-size: 15px;
  font-weight: 300;
  color: var(--accent-color-text);
}
